@charset "utf-8";

/* all style */
body {
	margin-top: 50px;
	margin-bottom: 20px;
}
a:hover {
	text-decoration: none;
}




/*m_nav*/
.m_nav_container {
	position: relative;
}

.m_nav_l {
	float: left;
	margin-left: 15px;
}

.m_nav_r {
	position: absolute;
	top: 16px;
	right: 15px;
}

.m_nav_r>a {
	color: #fff;
	font-weight: bold;
}

/*carousel_m01*/
#carousel_m01 {
	margin-bottom: 20px;
}

#carousel_m01>div>div {
	width: 100%;
	max-height: 500px;
	overflow: hidden;
}

#carousel_m01>div>div>img {
	
}

.carousel-caption>h2 {
	font-size: 2.6em;
	font-weight: bold;
}

.carousel-caption>p {
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 1em;
	font-weight: bold;
}

/* m_thumb */
.m_thumb {
	width: 100%;
	margin-bottom: 30px;
	position: relative;
	text-align: center;
}
.m_thumb:after {
	content: ''; display: block; clear: both; float: none;
}
.m_thumb a {
	width: 280px;
	height: 430px;
	margin: 10px;
	padding: 10px 10px;
	display: inline-block;
	border: 1px solid #eee;
	overflow: hidden;
}

.m_thumb a:hover {
	text-decoration: none;
}

.m_thumb a>img {
	width: 260px;
	height: 260px;
}

.m_thumb a>div {
	width: 100%;
}
/* m_thumb_user*/
.m_thumb_user {
	width: 100%;
	padding: 10px 0;
	border-bottom: 2px solid red;
	position: relative;
}

.m_thumb_user>img {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	position: absolute;
	top: 10px;
	left: 10px;
}

.m_thumb_user>h5 {
	margin-left: 60px;
	font-weight: bold;
	text-align: left;
	line-height: 1.4em;
	margin-bottom: 10px;
}

.m_thumb_user>p {
	padding: 0px 10px;
	text-align: left;
	font-size: 0.8em;
	color: #aaa;
}
/* m_thumb_info */
.m_thumb_info {
	width: 100%;
	margin: 10px 0 0 0;
	text-align: right;
}

.m_thumb_info_1 {
	width: 110px;
	display: inline-block;
}

.m_thumb_info_2 {
	width: 60px;
	display: inline-block;
}

.m_thumb_info_3 {
	width: 70px;
	display: inline-block;
}

.m_thumb_info p {
	font-size: 0.8em;
	line-height: 1.6em;
	color: #666;
}

.m_thumb_info_1>p>span {
	color: red;
	font-weight: bold;
	margin: 0 0 0 20px;
}
.m_thumb_new {
	
	display: block;
	/*padding: 258px 0 0 0;*/
	font-size: 2.9em;
	font-weight: bold;
	color: #ccc;

}



/* login */
.loginbox {
	width: 300px;
	border: 1px solid #eee;
	margin: auto;
	padding: 20px 20px;
	color: #666;
}
.loginbox label {
	margin-top: 5px;
}
.loginbox input {
	float: right;
	padding: 2px 2px;
}
.loginbox button {
	width: 100%;
	margin-bottom: 20px;
	padding: 8px 5px;
	border: 0;
	border-radius: 10px;
	background: #fc6d6d;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
}
.loginbox > form > div > a {
	padding: 0 20px;
}
.loginbox > form > div > a:last-child {
	float: right;
}
.loginbox:after {
	content:''; display: block; clear: both; float:none;
}



/* find_user */
.find_user {
	width: 300px;
	border: 1px solid #eee;
	margin: auto;
	padding: 20px 20px;
	color: #666;
}
.find_user > h3 {
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 10px;
}
.find_user > p {
	font-size: 1em;
	margin-bottom: 20px;
}
.find_user label {
	margin-top: 5px;
}
.find_user input {
	float: right;
	padding: 2px 2px;
}
.find_user button {
	width: 100%;
	margin-bottom: 20px;
	padding: 8px 5px;
	border: 0;
	border-radius: 10px;
	background: #fc6d6d;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
}
.find_user > form > div > a {
	padding: 0 20px;
}
.find_user > form > div > a:last-child {
	float: right;
}
.find_user:after {
	content:''; display: block; clear: both; float:none;
}

/* footer &*/
.footer_header {
	
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.footer_header>div {
	padding: 20px 0;
}

.footer_header>div>h5 {
	width: 100%;
	font-weight: bold;
	font-size: 1.1em;
	color: #999;
	margin-bottom: 10px;
}

.footer_header>div>ul {
	
}

.footer_header>div>ul>li>a {
	line-height: 2em;
	font-size: 0.9em;
	color: #666;
}

address {
	padding: 20px 20px;
	color: #ddd;
	font-size: 0.8em;
}
 
/* 더보기 가운데 정렬 */
.bbtn-lg {
	text-align: center;
}



/* start_project.html */
.start_input {
	width: 100%;
	height: auto;
	padding: 10px 10px;
	margin-bottom: 20px;
}
.start_input > h5 {
	font-size: 1.4em;
	line-height: 2em;
	font-weight: bold;
	color: #666;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
.start_input > div {
	width: 100%;
	height: auto;
	margin-bottom: 2px;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 10px;
	background: #eee;
}
.start_input > div:hover {
	background: #eef;
}
.start_input > div:hover > p {
	color: #99f;
}
.start_input > p {
	margin: 20px;
}
.start_input > button {
	width: 100%;
	margin-bottom: 2px;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 10px 10px;
	font-size: 1.2em;
	line-height: 1.4em;
	font-weight: bold;
	color: #fff;
	background: #6274fc;
}
.start_input > div > p {
	width: 100%;
	font-weight: bold;
	line-height: 1.6em;
	color: #666;
}
.start_input > div > div {
	width: 100%;
	height: auto;
	display: none;
	margin-top: 20px;
	border-radius: 10px;
	padding: 10px;
}
.start_input > div > div label {
	font-size: 1em;
	line-height: 1.6em;
	font-weight: bold;
	color: #666;
}
.start_input > div > div > div {
	height: auto;
	display: inline-block;
	padding: 0 10px;
	margin-bottom: 10px;
	vertical-align: top;
}
.start_input > div > div input {
	width: 100%;
	padding: 4px;
}
.start_input > div > div input[type="radio"] {
	width: 30px;
	margin-left: 10px;
	display: inline;
}
.start_input > div > div:after {
	content: ''; display: block; clear: both; float: none;
}
.start_input > div > div img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}
.start_input > div > div textarea {
	width: 100%;
	height: 150px;
	margin-bottom: 10px;
}
.start_input > div > div h6 {
	font-size: 1em;
	line-height: 2em;
	font-weight: bold;
	color: #666;
	margin-bottom: 10px;
}
.start_input > div > div p {
	font-size: 0.9em;
	line-height: 1.4em;
	color: #666;
	margin-bottom: 10px;
}
@media screen and (min-width: 1px) and (max-width: 749px) {
	.start_input > div > div > div {
		width: 100%;
	}
}
@media screen and (min-width: 750px) and (max-width: 2500px) {
	.start_input > div > div > div {
		width: 49%;
	}
}


/* start.html */
.start_in {
	width: 100%;
	height: auto;
}

.start_in > div > div > div {
	width: 100%;
	height: auto;
}
@media screen and (min-width: 1px) and (max-width: 749px) {
	.start_in > div > div > div {
		width: 100%;
	}
}
@media screen and (min-width: 750px) and (max-width: 2500px) {
	.start_in > div > div > div {
		width: 33%;
		float:left;
	}
	.start_in > div > div:after {
		content= ''; display: block; float: none; clear: both;
	}
}
.start_in > div > div > div > img {
	width:100%;
}
.start_in h2 {
	margin: 100px 30px 30px 30px;
	font-size: 3em;
	font-weight: bold;
}
.start_in h3 {
	margin: 50px 30px 30px 30px;
	font-size: 1.4em;
	font-weight: bold;
	color: #666;
}
.start_in h4 {
	margin: 20px;
	font-size: 1.2em;
	font-weight: bold;
	color: #666;
}
.start_in p {
	margin: 10px 10px 20px 10px;
	line-height: 1.4em;
	color: #666;
}
.start_in_f_w {
	color: #ffffff !important;
}
.start_in_btn {
	text-align: center;
	width:150px;
	height: 40px;
	display: block;
	margin: 40px auto;
	padding: 10px;
	background: #ffffff;
	font-size: 1.1em;
	font-weight: bold;
	border-radius: 10px;
	
}
.start_in_btn:hover {
	text-decoration: none;
	color: #fff;
	background-color: red;
}
.start_in > div:first-child {
	padding: 30px 20px;
	background: #ff7e7e;
}
.start_in > div:last-child {
	padding: 30px 20px;
	background: #7e9cff;
}


/* start_project_ok */
.start_project_ok {
	width: 300px;
	margin: auto;
	padding: 50px 20px;
	text-align: center;
	border: 1px solid #eee;
}
.start_project_ok > h3 {

	font-size: 2em;
	font-weight: bold;
	line-height: 2em;
	color: #6274fc;
}
.start_project_ok > p {
	margin-bottom: 50px;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.4em;
	color: #666;
}
.start_project_ok > a {
	padding: 10px 20px;
	border: 1px solid #eee;
	border-radius: 10px;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.4em;
	color: #666;
}
.start_project_ok > a:hover {
	background: #6274fc;
	color: #fff;
}



/* m_help */
.m_help {
	width: 100%;
	
}

.m_help > div:last-child > div:first-child > h3 {
	font-size: 2.4em;
	line-height: 1.6em;
	font-weight: bold;
	margin-bottom: 30px;
	padding: 0 20px;
	color: #666;
	border-bottom: 1px solid red;
}
.m_help > div:last-child > div:first-child > h4 {
	font-size: 1.4em;
	line-height: 1.4em;
	font-weight: bold;
	margin-bottom: 30px;
	color: #666;
}
.m_help > div:last-child > div:first-child > p {
	font-size: 1em;
	line-height: 1.2em;
	margin-bottom: 30px;
	color: #666;
}
.m_help > div:last-child > div:last-child {
	padding: 20px;
}
.m_help > div:last-child > div:last-child > a {
	display: block;
	font-size: 1.2em;
	line-height: 1.6em;
	color: #666;
} 
.help_sidebar {
	position: fixed;
	top: 200px;
	right: 50px;
}



/* myprojects */
.mypage_header {
	width: 100%;
	height: 140px;
	margin-bottom: 30px;
	background: pink;
	text-align: center;
	padding: 20px;
}
.mypage_header > h3 {
	margin-top: 20px;
	font-size: 2em;
	font-weight: bold;
	color: white;
	
}
.mypage_header > p {
	margin-top: 20px;
	font-size: 1.4em;
	font-weight: bold;
	color: white;
}



/* info */
.info {
	
}
.info:after {
	content: ''; display: block; clear: both; float: none;
}
.info_title {
	
}
.info_title > img {
	width: 100%;
}
.info_title > p {
	padding: 10px;
	font-size: 1.2em;
	font-weight: bold;
	color: #ccc;
}
.info_side {
	
}
.info_side > p {
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.4em;
	color: #999;
}
.info_side > a {
	width: 100%;
	display: block;
	margin: 20px 0 20px 0;
	padding: 10px;
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1.4em;
	color: #fff;
	background: pink;
	border-radius: 10px;
}
.info_side > div {
	width: 100%;
	background: #eee;
	border-radius: 10px;
	margin-bottom: 20px;
}
.info_side > div a {
	width: 100%;
	display: block;
	padding: 20px;
}
.info_side > div h6 {
	margin-bottom: 10px;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1.4em;
	color: #999;
	border-bottom: 1px solid #fff;
}
.info_side > div p {
	margin-bottom: 10px;
	font-size: 0.9em;
	line-height: 1.4em;
	color: #999;
}
.info_content {
	
}
.info_producer {
	
}
.info_legal {
	
}



/* rewards */
.rewards {
	width: 100%;
}
.rewards > div {
	width: 100%;
	padding: 20px;
	border-bottom: 2px solid #eee;
}
.rewards > div:hover {
	background: #eee;
}
.rewards > div > form {
	width: 100%;
}
.rewards > div > form > div {
	width: 100%;
}
.rewards > div > form > div > input {
	width: 150px;
	padding:4px;
	font-size: 1.2em;
	font-weight: bold;
	color: #666;
	text-align: right;
}
.rewards > div > form > div > p {
	font-size: 0.9em;
	line-height: 1.6em;
	color: blue;
}
.rewards > div > form > div > button {
	width: 120px;
	margin-top: 10px;
	padding : 10px;
	
}
.rewards > div > div:last-child {
	margin-top: 10px;
	border-top: solid 1px pink;
}
.rewards > div > div p {
	margin-top: 10px;
	font-size: 1em;
	line-height: 1.4em;
}



/* payment */
.payment_title {
	width: 100%;
	margin-bottom: 20px;
	padding: 30px 20px 20px 20px;
	background: skyblue;
}
.payment_title h5 {
	font-size: 1.6em;
	line-height: 1.6em;
	font-weight: bold;
	color: #fff;
	margin-bottom: 20px;
}
.payment_title h5 > span {
	color: blue;
}
.payment_title p {
	font-size: 1em;
	line-height: 1.4em;
	font-weight: bold;
	color: #fff;
}
.payment_title p > span {
	font-size: 1.6em;
	color: blue;
}
.payment {
	width: 100%;
}
.payment > div > p {
	font-size: 0.9em;
	font-weight: bold;
	color: #999;
}
.payment > div > a {
	width: 100%;
	display: block;
	margin: 10px 0 10px 0;
	padding: 20px;
	font-size: 1.4em;
	font-weight: bold;
	color: #666;
	border: 1px solid #eee;
	border-radius: 10px;
}





/* comunity_main */
.comunity_main {
	width: 100%;
	position: relative;
}
.comunity_main > div {
	margin-bottom: 20px;
}
.comunity_main > div> h4 {
	width: 100%;
	font-size: 1.4em;
	font-weight: bold;
	color: #666;
	padding-bottom: 10px;
	border-bottom: 1px solid red;
	margin-bottom: 10px;
}
.comunity_main > div > a {
	display: block;
	position: absolute;
	top: 0px;
	right: 15px;
	font-size: 0.8em;
	padding: 5px 5px;
	color: white;
	background: skyblue;
	border-radius: 5px;
}
.comunity_main > div > p {
	width: 100%;
}
.comunity_main > div > p > a {
	font-size: 1em;
	line-height: 1.6em;
	color: #666;
}