<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="PresentMapper">

	<resultMap id="present" type="team5.model.Present">
		<result property="id" column="id" />
		<result property="money" column="money" />
		<result property="info" column="info" />
		<result property="projectId" column="project_id" />
		
	</resultMap>
	
	<!-- insert present -->
	<insert id="insert_present" parameterType="team5.model.Present" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO present (
			money, info, project_id
		) VALUES (
			#{money}, #{info}, #{projectId}
		)
	</insert>
	
</mapper>