<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="ProjectMapper">

	<resultMap id="project_mapper" type="team5.model.Project">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="titleS" column="title_s" />
		<result property="titleImage" column="title_image" />
		<result property="titleText" column="title_text" />
		<result property="category" column="catecory" />
		<result property="url" column="url" />
		<result property="producerImage" column="producer_image" />
		<result property="producerName" column="producer_name" />
		<result property="producerInfo" column="producer_info" />
		<result property="producerArea" column="producer_area" />
		<result property="projectMoney" column="project_money" />
		<result property="startDate" column="start_date" />
		<result property="endDate" column="end_date" />
		<result property="legal" column="legal" />
		<result property="video" column="video" />
		<result property="story" column="story" />
		<result property="projectStatus" column="project_status" />
		<result property="regDate" column="reg_date" />
		<result property="ipAddress" column="ip_address" />
		<result property="memberId" column="member_id" />
	</resultMap>

	<!-- 프로젝트 저장하기 -->
	<insert id="insert_project" parameterType="team5.model.Project"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO project (
			title, title_s, title_image, title_text,
			category, url, 
			producer_image, producer_name, producer_info, producer_area, 
			project_money, start_date, end_date, 
			legal, video, story, project_status, 
			reg_date, ip_address, 
			member_id
		) VALUES (
			#{title}, #{title_s}, #{title_image}, #{title_text}, 
			#{category}, #{url}, 
			#{producer_image}, #{producer_name}, #{producer_info}, #{producer_area}, 
			#{project_money}, #{start_date}, #{end_date}, 
			#{legal}, #{video}, #{story}, #{project_status}, 
			now(), #{ip_address},
			#{member_id}
		)
	</insert>
	<!-- //프로젝트 저장하기 -->
	
</mapper>